
body {
  font-family: 'Roboto Slab', serif;
  color: #eee5e5;
  background-color: #eee5e5;
  z-index: 0;
}

p {
  color: black;
}

h2 {
  color: black;
}

#file-text {
  color: black;
}

.custom-shape-divider-bottom-1596031080 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1596031080 svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 333px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1596031080 .shape-fill {
  fill: #116A20;
}

h1 {
  font-family: 'Courgette', cursive;
  color: black;
}

.nav-bar {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  background-color: #116a20;
  width: 100vw;
  grid-template-columns:1fr 1fr 2fr 1fr;
  display: grid ;
  z-index: 2;
}

.search-bar input {
   width: 80%;
}

.links {
  text-align: left;
  color: white;
}

/* Item Index Page CSS */
.item-index-page {
  position: absolute;
  top: 3em;
  left: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item-card {
  background:#116a20;
  border: .25em black solid;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.item-cards-styles {
  position: relative;
  top: 6em;
  left: 2em;
  width: 15em;
  padding: 1em;
  margin: 1em;
  background:#116a20;
  border: .25em black solid;
  border-radius: 1em;
  display: flex;
  flex-direction: column; 
}

img {
  width: 85%;
  height: auto;
  border-radius: 1em;
}

/* Item ShowPage CSS */
.item-card {
  position: absolute;
  top: 3em;
  left: 2em;
  width: 25em;
  padding: 1em;
}

.item-pic {
  width: 8em;
  height: auto;
  border-radius: 1em;
}

/* User Profile CSS */
.user-body {
  position: absolute;
  top: 3em;
  left: 2em;
  display: grid;
  grid-template-columns: [first] 1fr [col2] 7em [col3] 1fr [col4];
  grid-template-rows: [start] 13em [row2] 3em [row3] 1fr [row4];

}
.user-profile {
  position: relative;
  /* grid-column: first / col2;
  grid-row: start / row2; */
  display: flex;
  flex-direction: column;
  width: 30m;
  height: auto;
  
}

.user-pic {
  width: 30%;
  
}

.user-items {
  position: relative;
  grid-column: first / col2;
  grid-row: row3 / row4;
}

.user-bids {
  position: relative;
  grid-column: col3 / col4;
  grid-row: row3 / row4;
}

.user-bid-card {
  width: 15em;
  padding: 10px;
  margin: 10px;
  background: grey;
  border: .25em black solid;
  border-radius: 1em;
}

/* New Item CSS*/
.new-item-form {
  position: absolute;
  top: 1em;
  left: 15em;
}

.delete-Button {
  width: 30%;
}

#add-item {
  width: 40%;
}

/* Sign Up Sheet CSS */
.new-user-sign-up {
  position: absolute;
  top: 3em;
  left: 2em;
}

#welcome {
position: absolute;
top: 1em;
left: 1em;
}