
body {
  font-family: 'Roboto Slab', serif;

}

.nav-bar {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  background-color: rgb(50, 84, 0);
  width: 100vw;
  grid-template-columns:1fr 1fr 2fr 1fr;
  display: grid ;
  z-index: 1;
}

.search-bar input {
   width: 80%;
}

.links {
  text-align: left;
  color: white;
}

/* Item Index Page CSS */
.item-index-page {
  position: absolute;
  top: 3em;
  left: 2em;
}

.item-cards-styles {
  width: 30em;
  padding: 10px;
  background: grey;
  border: .25em black solid;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

/* Item ShowPage CSS */
.item-card {
  position: absolute;
  top: 3em;
  left: 2em;
}

.item-pic {
  width: 8em;
  height: auto;
  border-radius: 1em;
}

/* User Profile CSS */
.user-body {
  position: absolute;
  top: 3em;
  left: 2em;
  display: grid;
  grid-template-columns: [first] 1fr [col2] 7em [col3] 1fr [col4];
  grid-template-rows: [start] 13em [row2] 3em [row3] 1fr [row4];
}
.user-profile {
  position: relative;
  grid-column: first / col2;
  grid-row: start / row2;
}

.user-pic {
  width: 8em;
  height: auto;
}

.user-items {
  position: relative;
  grid-column: first / col2;
  grid-row: row3 / row4;
}

.user-bids {
  position: relative;
  grid-column: col3 / col4;
  grid-row: row3 / row4;
}

.user-bid-card {
  width: 15em;
  padding: 10px;
  margin: 10px;
  background: grey;
  border: .25em black solid;
  border-radius: 1em;
}

/* New Item CSS*/
.new-item-form {
  position: absolute;
  top: 1em;
  left: 15em;
}

.deleteButton {
  width: 30%;
}

/* Sign Up Sheet CSS */
.new-user-sign-up {
  position: absolute;
  top: 3em;
  left: 2em;
}

#welcome {

}