body {
  font-family: 'Roboto Slab', serif;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: greenyellow;
  width: 100vw;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  display: grid ;
}

.search-bar input {
   width: 80%;
}

.links {
  text-align: justify;
  color: blue;
}